<% include ../partials/header %>

<div class="ui main text container segment">
  <h1 class="ui header">Edit <%= routine.title %></h1>
  <form action="/routines/<%= routine._id %>?_mehtod=PUT" method="POST" class="ui form">
    <div class="field">
      <label>Title</label>
      <input type="text" name="routine[title]" value="<%= routine.title %>">
    </div>
    <div class="field">
        <label>Description</label>
        <textarea name="routine[description]"><%= routine.description %></textarea>
    </div>
    <div class="field">
      <label>Image (optional)</label>
      <input type="text" name="routine[image]" value="<%= routine.image %>">
    </div>
    <div class="field">
      <button class="ui button green" type="submit">Submit</button>
      <form id="delete" action="/routines/ <%= routine._id %>?_method=DELETE" method="POST" class="ui form"> 
        <button class="ui red button inverse">Delete</button>
      </form>
    </div>  
  </form>
</div>

<% include ../partials/footer %>