<% include ../partials/header %>

<div class="ui main text container segment" id="greeting">
  <h2 class="ui huge header"><%= routine.title %></h2>
  <p><%= routine.description %></p>

  <div class="ui top attached tabular menu">   
    <a class="active item teal-card" data-tab="first">Sunday</a>
    <a class="item blue-card" data-tab="second">Monday</a>
    <a class="item green-card" data-tab="third">Tuesday</a>
    <a class="item yellow-card" data-tab="fourth">Wednesday</a>
    <a class="item red-card" data-tab="fifth">Thursday</a>
    <a class="item teal-card" data-tab="sixth">Friday</a>
    <a class="item blue-card" data-tab="seventh">Saturday</a>
  </div>
  
  <div class="ui bottom attached active tab segment" data-tab="first">
    <div class="ui celled list">
      <% routine.week.monday.forEach(function(exercise){ %>
        <div class="item">
        <img class="ui avatar image" src="/images/avatar/small/helen.jpg">
        <div class="content">
          <div class="header"><%= exercise %></div>
          An excellent companion
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
    <div class="ui celled list">
      <% routine.week.tuesday.forEach(function(exercise){ %>
        <div class="item">
        <img class="ui avatar image" src="/images/avatar/small/helen.jpg">
        <div class="content">
          <div class="header"><%= exercise %></div>
          An excellent companion
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="third">
    <div class="ui celled list">
      <% routine.week.wednesday.forEach(function(exercise){ %>
        <div class="item">
        <img class="ui avatar image" src="/images/avatar/small/helen.jpg">
        <div class="content">
          <div class="header"><%= exercise %></div>
          An excellent companion
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="fourth">
    <div class="ui celled list">
      <% routine.week.thursday.forEach(function(exercise){ %>
        <div class="item">
        <img class="ui avatar image" src="/images/avatar/small/helen.jpg">
        <div class="content">
          <div class="header"><%= exercise %></div>
          An excellent companion
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="fifth">
    <div class="ui celled list">
      <% routine.week.friday.forEach(function(exercise){ %>
        <div class="item">
        <img class="ui avatar image" src="/images/avatar/small/helen.jpg">
        <div class="content">
          <div class="header"><%= exercise %></div>
          An excellent companion
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="sixth">
    <div class="ui celled list">
      <% routine.week.saturday.forEach(function(exercise){ %>
        <div class="item">
        <img class="ui avatar image" src="/images/avatar/small/helen.jpg">
        <div class="content">
          <div class="header"><%= exercise %></div>
          An excellent companion
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="seventh">
    <div class="ui celled list">
      <% routine.week.sunday.forEach(function(exercise){ %>
        <div class="item">
        <img class="ui avatar image" src="/images/avatar/small/helen.jpg">
        <div class="content">
          <div class="header"><%= exercise %></div>
          An excellent companion
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <a href="/routines/<%= routine._id %>/edit" class="ui button medium teal">Add or Remove Exercises</a>
</div>

<script type="text/javascript">
$('.menu .item')
  .tab();
</script>

<% include ../partials/footer %>
